<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book library app</title>
    <link rel="stylesheet" href="{{url_for('web.static', filename='/css/style.css')}}">
</head>

<body>
    <div class="container">
        <h1>Book library app</h1>
        <p>Perfect app for book management</p>
        <div class="form">
            <input type="text" name="userName" id="userName" placeholder="user name" class="control1">
            <input type="password" name="password" id="password" placeholder="password" class="control1">
            <input type="email" name="email" id="email" placeholder="email" class="control1">
            <button id="btn1" class="btn1">Submit</button>
        </div>

    </div>
    <script src="{{url_for('web.static', filename='/js/register.js')}}"></script>
</body>

</html>